<!--базовый шаблон-->

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MeMeow{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="bi bi-cart3"></i> MeMeow
            </a>
        </div>
    </nav>

<footer class="bg-dark text-white mt-5 py-4">
    <div class="container text-center">
        <p>&copy;MeMeow 2026</p>
    </div>
</footer>

